@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan: Biar background default-nya agak abu-abu dikit & teksnya bagus */
body {
  background-color: #f3f4f6; /* gray-100 */
  color: #111827; /* gray-900 */
}